<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <%- include ('lib') -%>
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="row crud-div">
        <div class="col-lg-8 c col-md-8 col-md-offset-5">
          <div class="card border-info">
            <div class="card-header-div bg-success">
              <h4 class="text-center text-white">Node CRUD Operation </h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <button type="button" class="btn btn-block btn-outline-info" name="view-btn">View</button>
                </div>
                <div class="col-lg-3 col-md-3">
                  <button type="button" class="btn btn-block btn-outline-info" name="insert-btn">Insert</button>
                </div>
                <div class="col-lg-3 col-md-3">
                  <button type="button" class="btn btn-block btn-outline-info" name="update-btn">Update</button>
                </div>
                <div class="col-lg-3 col-md-3">
                  <button type="button" class="btn btn-block btn-outline-info" name="delete-btn">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
